@use "../../Styles/Global.scss" as *;
@use "../../Styles/Partials/Utilities.scss" as *;
@use "../../Styles/Partials/Mixins.scss" as *;

.home{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    width: 100%;
}
.button-div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    width: 100%;

    &__btn{
        font-size: 2rem;
        padding: .5rem;
        margin: .5rem;
        border: none; 
        background-color: transparent;
        color: white;

        &:hover{
            background-color: rgba($color: #454545, $alpha: .3);
            border-radius: 5px;
        }
    }
}
