@use "../../Styles/Global.scss" as *;
@use "../../Styles/Partials/Utilities.scss" as *;
@use "../../Styles/Partials/Mixins.scss" as *;

// Main divs that holds evreything
.home{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

// This is the about button
.button-div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    width: 100%;
    
    &__btn{
        cursor: pointer;
        font-family: 'Montserrat';
        font-weight: 900;
        font-size: 4rem;
        padding: .5rem;
        border: none; 
        background-color: transparent;
        color: white;
        filter: drop-shadow(5px 4px .4rem rgba(22, 22, 22, .8));
    }
}

// Carousel that holds the movie posters
.carousel{
    cursor: grab;
    overflow: hidden;
    margin-bottom: 2rem;
    &__inner{
        display: flex;
    }
    &__poster{
        min-width: 11.7rem;
        height: 100%;
        padding: 1rem 0;
        margin: 0 1rem;
    }
    &__poster img,link{
        width: 11.7rem;
        height: 100%;
        object-fit: cover;
        border-radius: 2rem;
        filter: drop-shadow(5px 4px .4rem rgba(22, 22, 22, .8));

    }
    &__poster h2,p{
        font-family: 'Montserrat';
        font-weight: 900;
        font-size: 1.3rem;
        text-align: center;
        color: white;
        filter: drop-shadow(5px 4px .4rem rgba(22, 22, 22, .8));
    }
}
