@use '../../Styles/Global.scss' as *;
@use '../../Styles/Partials/Mixins.scss' as *;
@use '../../Styles/Partials/Utilities.scss' as *;

.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 8rem;
    &__link{
        &.active{
            filter: drop-shadow(0 0 0.10rem white);
        }
    }
}
.logo{
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: 3rem;
    margin-left: 2rem;

    &__1{
        color: white;
    }
    &__2{
        color: white;
        margin-left: 3rem;
    }
}
.contact{
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: 3rem;
    margin-right: 5rem;
    &:hover{
        // background-color: green;
        border-radius: 2rem;
        filter: drop-shadow(0 0 0.10rem white);
    }
    
    &__text{
        color: white; 
        padding: .5rem;
    }
}

