@use '../../Styles/Global.scss' as *;
@use '../../Styles/Partials//Mixins.scss' as *;
@use '../../Styles/Partials/Utilities.scss' as *;

.footer{
    display: flex;
    position: sticky;
    justify-content: center;
    margin-top: 2rem;

    @include tablet {
        margin-top: .5rem;
    }

    @include desktop {
        margin-top: 5rem;
    }
    &__logo{
        height: 3rem;
        margin: 1rem;
        filter: brightness(0) invert(1);
    }
    &__api{
        width: 6rem;
    }
}