@use '../../Styles/Global.scss' as *;
@use '../../Styles/Partials/Mixins.scss' as *;
@use '../../Styles/Partials/Utilities.scss' as *;

// Parent div for the pages
.movie{
    margin: .75rem 0;
    text-align: center;
// Movie title
    &__title{
        font-family: 'Montserrat';
        font-size: 2rem;
        font-style: italic;
        font-weight: 900;
        color: white;
        filter: drop-shadow(5px 4px .4rem rgba(22, 22, 22, .8));
        @include tablet {
            font-size: 2.5rem;

        }
        @include desktop {
            font-size: 3.3rem;
        }
    }
// Movie tagline, under the title
    &__tagline{
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 900;
        font-size: 1rem;
        margin: .25rem 2rem;
        color: white;
        filter: drop-shadow(5px 4px .4rem rgba(22, 22, 22, .8));

        @include tablet {
            font-size: 1.5rem;

        }
    }
}
// Parent div for the slider
.carousel{
    cursor: grab;
    overflow: hidden;

// parent div for the array of images
    &__inner{
        display: flex;
        @include desktop{
            margin-left: 13rem;
        }
    }
// container for the image in the slider
    &__item{
        // min-height: 15rem;
        min-width: 100%;
        padding: 1rem;

        @include desktop {
            min-width: 60rem;
        }
    }
// styles for the images in the slider, i know that is a better way to style, just wanted to showcase that I knew how
    &__item img{
        pointer-events: none;
        width: 100%;
        height: 100%;
        border-radius: 2rem;
        object-fit: cover;
        filter: drop-shadow(5px 4px .4rem rgba(22, 22, 22, .8));

        &__item img ::hover{
            color: rgba($color: #000000, $alpha: .5);
        }
    }
}
// Div for the overview text under the slider
.overview{
    display: flex;
    flex-direction: column;
    justify-content: center;
// Overview Title
    &__title{
        font-family: 'Montserrat';
        font-size: 2rem;
        text-align: center;
        color: white;
        filter: drop-shadow(5px 4px .4rem rgba(22, 22, 22, .8));

    }
// Overview text brought in from the API
    &__info{
        text-align: center;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 1.5rem;
        margin:.25rem 2rem;
        color: white;
        filter: drop-shadow(5px 4px .4rem rgba(22, 22, 22, .8));

    }
}